body {
    background-color: rgb(69, 69, 69);
    margin: 0;
    padding: 0;
}

h1 {
    color: seagreen;
    margin-left: 20px;
}

.contain{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    background-color: rgb(219, 219, 219);
    border-radius: 5px;
    padding: 20px;
}

.header h1{
   font-size: 75px;
}